{% extends "search/base.html" %}
{% block content %}


<div class="container">
    <div class="row">

{% if news_type == 'Headlines' and search == None %}
<div class="container">
    <div class="row">

   {% for headline in ca_headlines %}
        {% for ca_headline in headline %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_headline.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_headline.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_headline.url }}" target="_blank">{{ ca_headline.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_headline.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_headline.source }} on {{ ca_headline.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Business' and search == None %}
<div class="container">
    <div class="row">

   {% for business in ca_business %}
        {% for ca_business in business %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_business.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_business.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_business.url }}" target="_blank">{{ ca_business.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_business.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_business.source }} on {{ ca_business.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Technology' and search == None %}
<div class="container">
    <div class="row">

   {% for technology in ca_technology %}
        {% for ca_technology in technology %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_technology.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_technology.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_technology.url }}" target="_blank">{{ ca_technology.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_technology.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_technology.source }} on {{ ca_technology.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Health' and search == None %}
<div class="container">
    <div class="row">

   {% for health in ca_health %}
        {% for ca_health in health %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_health.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_health.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_health.url }}" target="_blank">{{ ca_health.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_health.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_health.source }} on {{ ca_health.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Science' and search == None %}
<div class="container">
    <div class="row">

   {% for health in ca_science %}
        {% for ca_science in health %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_science.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_science.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_science.url }}" target="_blank">{{ ca_science.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_science.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_science.source }} on {{ ca_science.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Sport' and search == None %}
<div class="container">
    <div class="row">

   {% for sport in ca_sport %}
        {% for ca_sport in sport %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_sport.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_sport.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_sport.url }}" target="_blank">{{ ca_sport.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_sport.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_sport.source }} on {{ ca_sport.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Entertainment' and search == None %}
<div class="container">
    <div class="row">

   {% for entertainment in ca_entertainment %}
        {% for ca_entertainment in entertainment %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_entertainment.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_entertainment.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_entertainment.url }}" target="_blank">{{ ca_entertainment.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_entertainment.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_entertainment.source }} on {{ ca_entertainment.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>


{% if news_type == 'Headlines' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for headlines in ca_search_headlines %}
        {% for ca_search_headlines in headlines %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_headlines.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_headlines.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_headlines.url }}" target="_blank">{{ ca_search_headlines.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_headlines.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_headlines.source }} on {{ ca_search_headlines.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Business' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for business in ca_search_business %}
        {% for ca_search_business in business %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_business.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_business.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_business.url }}" target="_blank">{{ ca_search_business.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_business.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_business.source }} on {{ ca_search_business.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Technology' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for technology in ca_search_technology %}
        {% for ca_search_technology in technology %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_technology.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_technology.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_technology.url }}" target="_blank">{{ ca_search_technology.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_technology.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_technology.source }} on {{ ca_search_technology.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Health' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for health in ca_search_health %}
        {% for ca_search_health in health %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_health.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_health.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_health.url }}" target="_blank">{{ ca_search_health.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_health.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_health.source }} on {{ ca_search_health.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Science' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for science in ca_search_science %}
        {% for ca_search_science in science %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_science.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_science.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_science.url }}" target="_blank">{{ ca_search_science.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_science.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_science.source }} on {{ ca_search_science.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Sport' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for sport in ca_search_sport %}
        {% for ca_search_sport in sport %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_sport.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_sport.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_sport.url }}" target="_blank">{{ ca_search_sport.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_sport.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_sport.source }} on {{ ca_search_sport.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Entertainment' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for entertainment in ca_search_entertainment %}
        {% for ca_search_entertainment in entertainment %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if ca_search_entertainment.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ ca_search_entertainment.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ ca_search_entertainment.url }}" target="_blank">{{ ca_search_entertainment.title }}</a></h6>
        <p class="card-subtitle"> {{ ca_search_entertainment.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ ca_search_entertainment.source }} on {{ ca_search_entertainment.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>


<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>

{% endblock %}