{% extends "search/base.html" %}
{% block content %}


<div class="container">
    <div class="row">

{% if news_type == 'Headlines' and search == None %}
<div class="container">
    <div class="row">

   {% for headline in gb_headlines %}
        {% for gb_headline in headline %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_headline.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_headline.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_headline.url }}" target="_blank">{{ gb_headline.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_headline.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_headline.source }} on {{ gb_headline.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Business' and search == None %}
<div class="container">
    <div class="row">

   {% for business in gb_business %}
        {% for gb_business in business %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_business.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_business.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_business.url }}" target="_blank">{{ gb_business.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_business.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_business.source }} on {{ gb_business.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Technology' and search == None %}
<div class="container">
    <div class="row">

   {% for technology in gb_technology %}
        {% for gb_technology in technology %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_technology.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_technology.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_technology.url }}" target="_blank">{{ gb_technology.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_technology.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_technology.source }} on {{ gb_technology.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Health' and search == None %}
<div class="container">
    <div class="row">

   {% for health in gb_health %}
        {% for gb_health in health %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_health.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_health.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_health.url }}" target="_blank">{{ gb_health.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_health.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_health.source }} on {{ gb_health.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Science' and search == None %}
<div class="container">
    <div class="row">

   {% for health in gb_science %}
        {% for gb_science in health %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_science.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_science.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_science.url }}" target="_blank">{{ gb_science.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_science.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_science.source }} on {{ gb_science.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Sport' and search == None %}
<div class="container">
    <div class="row">

   {% for sport in gb_sport %}
        {% for gb_sport in sport %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_sport.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_sport.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_sport.url }}" target="_blank">{{ gb_sport.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_sport.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_sport.source }} on {{ gb_sport.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Entertainment' and search == None %}
<div class="container">
    <div class="row">

   {% for entertainment in gb_entertainment %}
        {% for gb_entertainment in entertainment %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_entertainment.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_entertainment.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_entertainment.url }}" target="_blank">{{ gb_entertainment.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_entertainment.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_entertainment.source }} on {{ gb_entertainment.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>


{% if news_type == 'Headlines' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for headlines in gb_search_headlines %}
        {% for gb_search_headlines in headlines %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_headlines.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_headlines.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_headlines.url }}" target="_blank">{{ gb_search_headlines.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_headlines.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_headlines.source }} on {{ gb_search_headlines.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Business' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for business in gb_search_business %}
        {% for gb_search_business in business %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_business.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_business.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_business.url }}" target="_blank">{{ gb_search_business.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_business.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_business.source }} on {{ gb_search_business.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Technology' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for technology in gb_search_technology %}
        {% for gb_search_technology in technology %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_technology.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_technology.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_technology.url }}" target="_blank">{{ gb_search_technology.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_technology.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_technology.source }} on {{ gb_search_technology.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Health' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for health in gb_search_health %}
        {% for gb_search_health in health %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_health.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_health.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_health.url }}" target="_blank">{{ gb_search_health.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_health.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_health.source }} on {{ gb_search_health.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Science' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for science in gb_search_science %}
        {% for gb_search_science in science %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_science.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_science.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_science.url }}" target="_blank">{{ gb_search_science.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_science.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_science.source }} on {{ gb_search_science.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Sport' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for sport in gb_search_sport %}
        {% for gb_search_sport in sport %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_sport.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_sport.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_sport.url }}" target="_blank">{{ gb_search_sport.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_sport.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_sport.source }} on {{ gb_search_sport.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>

{% if news_type == 'Entertainment' and search != 'None' %}
<div class="container">
    <div class="row">

   {% for entertainment in gb_search_entertainment %}
        {% for gb_search_entertainment in entertainment %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% if gb_search_entertainment.urlToImage == None %}
     <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
       {% else %}
     <img class="card-img-top" src="{{ gb_search_entertainment.urlToImage }}" alt="Card image" height="170">
        {% endif %}
      <div class="card-body">
        <h6 class="card-title"><a href="{{ gb_search_entertainment.url }}" target="_blank">{{ gb_search_entertainment.title }}</a></h6>
        <p class="card-subtitle"> {{ gb_search_entertainment.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ gb_search_entertainment.source }} on {{ gb_search_entertainment.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
  {% endfor %}
 {% endif %}

    </div>
</div>


<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>

{% endblock %}