{% extends "search/base.html" %}
{% block content %}



{% if news_type == 'Headlines' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for headline in za_headlines %}
                    {% for za_headline in headline %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_headline.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_headline.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_headline.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_headline.url }}" target="_blank">{{ za_headline.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_headline.source }} on {{ za_headline.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Business' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for business in za_business %}
                    {% for za_business in business %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_business.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_business.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_business.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_business.url }}" target="_blank">{{ za_business.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_business.source }} on {{ za_business.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}


                 </div>
              </div>
  </div>
</main>

{% elif news_type == 'Health' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for health in za_health %}
                    {% for za_health in health %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_health.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_health.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_health.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_health.url }}" target="_blank">{{ za_health.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_health.source }} on {{ za_health.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Technology' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for technology in za_technology %}
                    {% for za_technology in technology %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_technology.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_technology.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_technology.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_technology.url }}" target="_blank">{{ za_technology.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_technology.source }} on {{ za_technology.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>

{% elif news_type == 'Science' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for science in za_science %}
                    {% for za_science in health %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_science.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_science.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_science.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_science.url }}" target="_blank">{{ za_science.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_science.source }} on {{ za_science.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Sport' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for sport in za_sport %}
                    {% for za_sport in sport %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_sport.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_sport.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_sport.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_sport.url }}" target="_blank">{{ za_sport.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_sport.source }} on {{ za_sport.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Entertainment' and search == None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for entertainment in za_entertainment %}
                    {% for za_entertainment in entertainment %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_entertainment.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_entertainment.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_entertainment.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_entertainment.url }}" target="_blank">{{ za_entertainment.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_entertainment.source }} on {{ za_entertainment.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}


                 </div>
              </div>
  </div>
</main>

<!--  -->

{% elif news_type == 'Headlines' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for headlines in za_search_headlines %}
                    {% for za_search_headlines in headlines %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_headlines.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_headlines.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_headlines.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_headlines.url }}" target="_blank">{{ za_search_headlines.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_headlines.source }} on {{ za_search_headlines.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Business' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for business in za_search_business %}
                    {% for za_search_business in business %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_business.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_business.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_business.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_business.url }}" target="_blank">{{ za_search_business.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_business.source }} on {{ za_search_business.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}


                 </div>
              </div>
  </div>
</main>

{% elif news_type == 'Health' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for health in za_search_health %}
                    {% for za_search_health in health %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_health.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_health.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_health.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_health.url }}" target="_blank">{{ za_search_health.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_health.source }} on {{ za_search_health.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Technology' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for technology in za_search_technology %}
                    {% for za_search_technology in technology %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_technology.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_technology.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_technology.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_technology.url }}" target="_blank">{{ za_search_technology.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_technology.source }} on {{ za_search_technology.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>

{% elif news_type == 'Science' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for science in za_search_science %}
                    {% for za_search_science in science %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_science.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_science.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_science.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_science.url }}" target="_blank">{{ za_search_science.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_science.source }} on {{ za_search_science.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Sport' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for sport in za_search_sport %}
                    {% for za_search_sport in sport %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_sport.za_search_sport == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_sport.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_sport.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_sport.url }}" target="_blank">{{ za_search_sport.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_sport.source }} on {{ za_search_sport.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}

                 </div>
              </div>
  </div>
</main>


{% elif news_type == 'Entertainment' and search != None %}
<main class="dash-content">
  <div class="container-fluid">
                 <div class="container">
                  <div class="row">
                    {% for entertainment in za_search_entertainment %}
                    {% for za_search_entertainment in entertainment %}
                      <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                          <div class="row">
                              <div class="col-md-4">
                                   {% if za_search_entertainment.urlToImage == None %}
                                  <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                      {% else %}
                                  <img class="card-img-top" src="{{ za_search_entertainment.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                   {% endif %}
                              </div>
                             <div class="col-md-8">
                                 <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                  <div class="spur-card-menu">
                                      <div class="dropdown show" >
                                          <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                  <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                  <input type="hidden" name="news_id" value="{{ za_search_entertainment.id }}">
                                                  <input type="hidden" name="location" value="za">
                                                  <input type="hidden" name="newstype" value="{{ news_type }}">
                                                  <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                              </div>
                                      </div>
                                  </div>
                                  </form>
                                 <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ za_search_entertainment.url }}" target="_blank">{{ za_search_entertainment.title }}</a></p>
                                  <font size="1" class="post-meta">
                                      Posted by {{ za_search_entertainment.source }} on {{ za_search_entertainment.publishedAt }}
                                  </font>
                             </div>
                            </div>
                          </div>
                {% endfor %}
                {% endfor %}
                {% endif %}

                 </div>
              </div>
  </div>
</main>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>

{% endblock %}