.card-img-top {
    width: 100%;
    object-fit: cover;
}

.form-inline {
    padding-bottom: 15px;
    padding-top: 10px;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.row {
 margin-top: 60px;
}


/* Active state
.nav-item.active a {
  color: red;
}
*/