{% extends "main/base.html" %}
{% block content %}

            <main class="dash-content">
                <div class="container-fluid">
                            <div class="container">
                                <div class="row">
                               {% for article in article %}
                                    <div class="card mb-3 ml-3 d-flex" style="max-width: 1080px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="row">
                                            <div class="col-md-4">
                                                 {% if article.urlToImage == None %}
                                                <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="250" style=" object-fit: cover;" >
                                                    {% else %}
                                                <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image" height="250" style="object-fit: cover;">
                                                 {% endif %}
                                            </div>
                                           <div class="col-md-8">
                                               <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                                <div class="spur-card-menu">
                                                    <div class="dropdown show" >
                                                        <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                                <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                                <!--<a class="dropdown-item" type="submit" href=""><font size="1">Comments</font></a> -->
                                                            </div>
                                                    </div>
                                                </div>
                                                </form>
                                               <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></p>
                                                <br>
                                               <div class="card-subtitle">
                                                   {{ article.description }}
                                               </div>
                                               <br>

                                              <font size="1" class="post-meta">
                                                    Posted by {{ article.source }} on {{ article.publishedAt }}
                                                </font>
                                           </div>
                                          </div>
                                        </div>
                                 {% endfor %}

                               </div>
                            </div>
                </div>
            </main>
    </div>
</div>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>

{% endblock %}