{% extends "main/base.html" %}
{% block content %}

            {% for user in user_data %}
                    {% if user.pref_location == None %}
                        <main class="dash-content">
                            <div class="container-fluid">
                                <div class="container">
                                    <div class="row">
                                        Hi {{ username }}. You have no default favourites set. Please go to your profile page and set your favourites.
                                    </div>
                                </div>
                            </div>
                        </main>
                    {% else %}
                    <main class="dash-content">
                        <div class="container-fluid">
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="stats stats-primary">
                                        {% if location == 'au' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/au/shiny/64.png"> {{news_type|upper}} TITLES </h3>
                                        {% elif location == 'us' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/us/shiny/64.png"> {{news_type|upper}} TITLES </h3>
                                        {% elif location == 'ca' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/ca/shiny/64.png"> {{news_type|upper}} TITLES </h3>
                                        {% elif location == 'gb' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/gb/shiny/64.png"> {{news_type|upper}} TITLES </h3>
                                        {% elif location == 'nz' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/nz/shiny/64.png"> {{news_type|upper}} TITLES </h3>
                                        {% elif location == 'za' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/za/shiny/64.png"> {{news_type|upper}} TITLES </h3>
                                        {% endif %}
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                <i class="fas fa-list-alt"></i>
                                            </div>
                                            <div class="stats-data">
                                                <div class="stats-number">55,853</div>
                                                <div class="stats-change">
                                                    <!--<span class="stats-percentage">+17.5%</span>-->
                                                    <span class="stats-timeframe">for the last 30 days</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="stats stats-info">
                                        {% if location == 'au' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/au/shiny/64.png"> {{news_type|upper}} AUTHORS </h3>
                                        {% elif location == 'us' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/us/shiny/64.png"> {{news_type|upper}} AUTHORS </h3>
                                        {% elif location == 'ca' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/ca/shiny/64.png"> {{news_type|upper}} AUTHORS </h3>
                                        {% elif location == 'gb' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/gb/shiny/64.png"> {{news_type|upper}} AUTHORS </h3>
                                        {% elif location == 'nz' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/nz/shiny/64.png"> {{news_type|upper}} AUTHORS </h3>
                                        {% elif location == 'za' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/za/shiny/64.png"> {{news_type|upper}} AUTHORS </h3>
                                        {% endif %}
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="stats-data">
                                                <div class="stats-number">12,956</div>
                                                <div class="stats-change">
                                                    <!--<span class="stats-percentage">+17.5%</span>-->
                                                    <span class="stats-timeframe">for the last 30 days</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="stats stats-success">
                                        {% if location == 'au' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/au/shiny/64.png"> {{news_type|upper}} SOURCES </h3>
                                        {% elif location == 'us' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/us/shiny/64.png"> {{news_type|upper}} SOURCES </h3>
                                        {% elif location == 'ca' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/ca/shiny/64.png"> {{news_type|upper}} SOURCES </h3>
                                        {% elif location == 'gb' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/gb/shiny/64.png"> {{news_type|upper}} SOURCES </h3>
                                        {% elif location == 'nz' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/nz/shiny/64.png"> {{news_type|upper}} SOURCES </h3>
                                        {% elif location == 'za' %}
                                        <h3 class="stats-title"><img src="https://www.countryflags.io/za/shiny/64.png"> {{news_type|upper}} SOURCES </h3>
                                        {% endif %}
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                <i class="fas fa-newspaper"></i>
                                            </div>
                                            <div class="stats-data">
                                                <div class="stats-number">2,705</div>
                                                <div class="stats-change">
                                                    <!--<span class="stats-percentage">+17.5%</span>-->
                                                    <span class="stats-timeframe">for the last 30 days</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                    </main>

                    <main class="dash-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card spur-card">
                                        <div class="card-header">
                                            <div class="spur-card-icon">
                                                {% if location == 'au' %}
                                                <img src="https://www.countryflags.io/au/shiny/32.png">
                                                {% elif location == 'us' %}
                                                <img src="https://www.countryflags.io/us/shiny/32.png">
                                                {% elif location == 'ca' %}
                                                <img src="https://www.countryflags.io/ca/shiny/32.png">
                                                {% elif location == 'gb' %}
                                                <img src="https://www.countryflags.io/gb/shiny/32.png">
                                                {% elif location == 'nz' %}
                                                <img src="https://www.countryflags.io/nz/shiny/32.png">
                                                {% elif location == 'za' %}
                                                <img src="https://www.countryflags.io/za/shiny/32.png">
                                                {% endif %}
                                            </div>
                                            <div class="spur-card-title"> {{news_type|capitalize}} Data Per Month For 2020</div>
                                        </div>
                                        <div class="card-body spur-card-body-chart">
                                            <canvas id="spurChartjsTwoBars"></canvas>
                                            <script>
                                                var ctx = document.getElementById("spurChartjsTwoBars").getContext('2d');
                                                var myChart = new Chart(ctx, {
                                                    type: 'bar',
                                                    data: {
                                                        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                                                        datasets: [{
                                                            label: 'Titles',
                                                            data: [24776 , 53801, 64453, 62340, 62658, 59852, 8496],
                                                            backgroundColor: window.chartColors.primary,
                                                            borderColor: 'transparent'
                                                        }, {
                                                            label: 'Authors',
                                                            data: [6898, 11804, 14744, 14597, 14234, 13746, 3544],
                                                            backgroundColor: window.chartColors.info,
                                                            borderColor: 'transparent'
                                                        },{
                                                            label: 'Sources',
                                                            data: [1924, 2583, 3009, 2821, 3740, 2783, 1164],
                                                            backgroundColor: window.chartColors.success,
                                                            borderColor: 'transparent'
                                                        }]
                                                    },
                                                    options: {
                                                        legend: {
                                                            display: false
                                                        },
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true
                                                                }
                                                            }]
                                                        }
                                                    }
                                                });
                                            </script>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card spur-card">
                                        <div class="card-header">
                                            <div class="spur-card-icon">
                                                {% if location == 'au' %}
                                                <img src="https://www.countryflags.io/au/shiny/32.png">
                                                {% elif location == 'us' %}
                                                <img src="https://www.countryflags.io/us/shiny/32.png">
                                                {% elif location == 'ca' %}
                                                <img src="https://www.countryflags.io/ca/shiny/32.png">
                                                {% elif location == 'gb' %}
                                                <img src="https://www.countryflags.io/gb/shiny/32.png">
                                                {% elif location == 'nz' %}
                                                <img src="https://www.countryflags.io/nz/shiny/32.png">
                                                {% elif location == 'za' %}
                                                <img src="https://www.countryflags.io/za/shiny/32.png">
                                                {% endif %}
                                            </div>
                                            <div class="spur-card-title"> {{ news_type|capitalize }} </div>
                                        </div>
                                        <div class="card-body" style="max-height: 404px; overflow-y: auto;">
                                        <div class="notifications">
                                        {% for default in default_settings %}
                                        {% for i in default %}
                                        <a href="{{ i.url }} " target="_blank" class="notification">
                                            <div class="notification-icon">
                                                <i class="fas fa-genderless"></i>
                                            </div>
                                            <div class="notification-text"><font size="1">{{ i.title }}</font></div>
                                            <span class="notification-time"><font size="1">{{i.source}}</font></span>
                                        </a>
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                     
            </main>


            <!--<main class="dash-content">
                <div class="container-fluid">
                            <div class="container">
                                <div class="row">
                               {% for default in default_settings %}
                                    {% for i in default %}
                                    <div class="card mb-3 ml-3 d-flex" style="max-width: 540px; padding-right: 10px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        <div class="row">
                                            <div class="col-md-4">
                                                 {% if i.urlToImage == None %}
                                                <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170" style=" object-fit: cover;" >
                                                    {% else %}
                                                <img class="card-img-top" src="{{ i.urlToImage }}" alt="Card image" height="170" style=" object-fit: cover;">
                                                 {% endif %}
                                            </div>
                                           <div class="col-md-8">
                                               <form class="searchbox" action="{{ url_for('main.comments') }}" style="padding-right: 10px;">
                                                <div class="spur-card-menu">
                                                    <div class="dropdown show" >
                                                        <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown"></a>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                                <a class="dropdown-item" href="{{ url_for('main.profile') }}"><font size="1">Archive Link</font></a>
                                                                <input type="hidden" name="news_id" value="{{ i.id }}">
                                                                <input type="hidden" name="location" value="{{ location }}">
                                                                <input type="hidden" name="newstype" value="{{ news_type }}">
                                                                <button type="submit" class="dropdown-item"><font size="1">Comments</font></button>
                                                                <!--<a class="dropdown-item" type="submit" href=""><font size="1">Comments</font></a>
                                                            </div>
                                                    </div>
                                                </div>
                                                </form>
                                               <p class="card-title" style="padding-left: 0px; padding-top: 8px; padding-right: 3px"><a href="{{ i.url }}" target="_blank">{{ i.title }}</a></p>
                                                <font size="1" class="post-meta">
                                                    Posted by {{ i.source }} on {{ i.publishedAt }}
                                                </font>
                                           </div>
                                          </div>
                                        </div>
                                 {% endfor %}
                              {% endfor %}

                               </div>
                            </div>
                </div>
            </main>
       {% endif %}
   {% endfor %}
    </div>
</div> -->

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>
{% endblock %}