{% extends "main/base.html" %}
{% block content %}
<style>
    .text-big {
        font-size: 1.4em;
        line-height: 1.8em;
        color: #111;
    }
</style>
                    <main class="dash-content">
                        <div class="container-fluid">
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="stats stats-primary">
                                        <!-- TITLES -->
                                        <!-- <h3 class="stats-title"><img src="{{ url_for('static', filename='images/world_image.png') }}" width="40" height="40"> <font size="3"> TITLES </font></h3> -->
                                        <h3 class="stats-title"><font size="3"> UNIQUE TITLES </font></h3>
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                
                                                    <i class="fas fa-list-alt"></i>
                                            </div>
                                            <div class="stats-data">
                                                    <div class="stats-number">{{ total_titles }}</div>
                                                <div class="stats-change">
                                                    <!--<span class="stats-percentage">+17.5%</span>-->
                                                    <span class="stats-timeframe">Since January 2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="stats stats-info">
                                        <!-- AUTHORS -->
                                        <!-- <h3 class="stats-title"><img src="{{ url_for('static', filename='images/world_image.png') }}" width="40" height="40"> <font size="3"> AUTHORS </font></h3> -->
                                        <h3 class="stats-title"><font size="3"> UNIQUE AUTHORS </font></h3>
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                
                                                    <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="stats-data">
                                                    <div class="stats-number">{{ total_authors }}</div>
                                                <div class="stats-change">
                                                    <!--<span class="stats-percentage">+17.5%</span>-->
                                                    <span class="stats-timeframe">Since January 2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                             <div class="col-lg-4">
                                    <div class="stats stats-success">
                                        <!-- Sources -->
                                        <!-- <h3 class="stats-title"><img src="{{ url_for('static', filename='images/world_image.png') }}" width="40" height="40"> <font size="3"> SOURCES </font></h3> -->
                                        <h3 class="stats-title"><font size="3"> UNIQUE SOURCES </font></h3>
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                    <i class="fas fa-newspaper"></i>
                                                    
                                            </div>
                                            <div class="stats-data">
                                                    <div class="stats-number">{{ total_sources }}</div>
                                                <div class="stats-change">
                                                    <!--<span class="stats-percentage">+17.5%</span>-->
                                                    <span class="stats-timeframe">Since January 2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                             
                             <div class="col-lg-12">
                                <p align="justify" class="text-big">
                                    <hr>

                                    The <strong>World News Archive</strong> is a news aggregator. <br><br>
                                    
                                    It gathers, archives and then displays news titles published by world wide news outlets from six countries
                                    within seven categories. News data has been gathered since January of 2020 and archived titles can be searched by date and per category under the country menu bar on
                                    the left. To search the full catalog by word or phrase, use the search bar at the top of this index page.<br><br>
                                    
                                    The <strong>World News Archive</strong> is currently a non-commercial service for users who want to stay abreast of current world events, with the ability to search
                                    older titles.


                                </p>
                             </div>
                             <!-- <div class="col-lg-4">
                                    <div class="stats stats-success">

                                        <h3 class="stats-title"><font size="2">MOST FREQUENT TALKING POINT </font></h3>
                                        <span class="stats-timeframe">Since January 2020</span>
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                               
                                                    <i class="fas fa-comment"></i>
                                            </div>
                                            <div class="stats-data">
                                                    <div class="stats-number">COVID-19</div>
                                                <div class="stats-change">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                             <div class="col-lg-4">
                                    <div class="stats stats-info">
                                        <h3 class="stats-title"><font size="2">MOST FREQUENT TALKING POINT </font></h3>
                                        <span class="stats-timeframe">For the last month</span>
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                
                                                    <i class="fas fa-comment"></i>
                                            </div>
                                            <div class="stats-data">
                                                    <div class="stats-number">COVID-19</div>
                                                <div class="stats-change">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                             <div class="col-lg-4">
                                    <div class="stats stats-primary">
                                        <h3 class="stats-title"><font size="2">MOST FREQUENT TALKING POINT </font></h3>
                                        <span class="stats-timeframe">For the last week</span>
                                        <div class="stats-content">
                                            <div class="stats-icon">
                                                
                                                    <i class="fas fa-comment"></i>
                                            </div>
                                            <div class="stats-data">
                                                    <div class="stats-number">COVID-19</div>
                                                <div class="stats-change">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div> -->
                        </div>
                    </div>
                </main>

                   

<!--<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer> -->
{% endblock %}