{% extends "main/base.html" %}
{% block content %}

<main class="dash-content">
    <div class="container-fluid">
        <h1 class="dash-title">Profile</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="card spur-card">
                    <div class="card-header">
                        <div class="spur-card-icon">
                            <i class="fas fa-user-cog"></i>
                        </div>
                        <div class="spur-card-title">User Details</div>
                    </div>
                    <div class="card-body ">
                        <table class="table table-hover table-in-card">
                            <thead>
                                <tr>
                                    <!--<th scope="col">#</th>-->
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Last</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">News Favourite</th>
                                    <th scope="col">Location Favourite</th>
                                    <th scope="col">Comments Enabled</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for user in user_data %}
                                    <!--th scope="row">1</th>-->
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.pref_news_type }}</td>
                                    <td>{{ user.pref_location }}</td>
                                    <td>False</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#update_fav">Update Favourites</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#enable_comments">Enable Comments</button>



<!--<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>-->

{% endblock %}