<html xmlns="http://www.w3.org/1999/html">
<head>
<title>South African Daily News Archive</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/newspaper.png') }}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>
<body>


<!-- Just an image -->
<div class="container">
  <div class="row">
    <div class="col-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark fixed-top justify-content-center justify-content-between">

            <a class="navbar-brand mr-1" href="{{ url_for('index') }}">
              <img src="https://www.countryflags.io/za/shiny/32.png">
                <strong><font size="2">South African Daily News Archive
                <br>
                    {{ news_type|capitalize }} {{ today }}

                </font></strong>
                <br>


            </a>

             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                  <span class="navbar-toggler-icon"></span>
             </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
                <ul class="navbar-nav">
                    <li id="headlines" class="nav-item active">
                      <a class="nav-item nav-link" href="{{ url_for('index') }}">HEADLINES</a>
                    </li>
                    <li id="business" class="nav-item">
                      <a class="nav-item nav-link" href="{{ url_for('business') }}">BUSINESS</a>
                    </li>
                    <li id="technology"  class="nav-item">
                      <a class="nav-item nav-link" href="{{ url_for('technology') }}">TECHNOLOGY</a>
                    </li>
                    <li id="health" class="nav-item">
                      <a class="nav-item nav-link" href="{{ url_for('health') }}">HEALTH</a>
                    </li>
                    <li id="science" class="nav-item">
                      <a class="nav-item nav-link" href="{{ url_for('science') }}">SCIENCE</a>
                    </li>
                    <li id="sport" class="nav-item">
                      <a class="nav-item nav-link" href="{{ url_for('sports') }}">SPORT</a>
                    </li>
                    <li id="entertainment" class="nav-item">
                      <a class="nav-item nav-link" href="{{ url_for('entertainment') }}">ENTERTAINMENT</a>
                  </li>
                    <li class="navbar-nav mr-auto">
                       <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalFormCenter"><a class="nav-link js-scroll-trigger text-light" href="#">About The News Archive</a></button>
                   </li>
                  <!-- <li class="navbar-nav mr-auto">
                       <button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModalAbout"><a class="nav-link js-scroll-trigger text-light" href="#">Search Per Phrase</a></button>
                   </li> -->
                </ul>
            </div>
        </nav>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" style="padding-top: 0px;">
    <div class="col-sm offset-sm-1 text-center">
        Search News by Date and Category
     <form class="form-inline justify-content-center" action="/search">

             <input type="date" class="form-control mb-2 mr-sm-2"  value="" placeholder="Date" name="date" id="date" min="2020-01-09">

             <select name="newstype" class="form-control mb-2 mr-sm-2" id="newstype">
                 <option value="headlines">  Headlines  </option>
                 <option value="business">  Business  </option>
                 <option value="technology">  Technology  </option>
                 <option value="health">  Health  </option>
                 <option value="science">  Science  </option>
                 <option value="sports">  Sport  </option>
                 <option value="entertainment">  Entertainment  </option>
             </select>
             <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    </div>
    </div>
  </div>


<!-- Modal City Submit Form -->
<div class="modal fade" id="exampleModalFormCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">About The South African News Archive</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <center><p style="text-align: justify;"><strong>The South African News Archive</strong> is part of a portfolio suite featured on <a href="http://www.mikehyland.com" target="_blank">mikehyland.com</a></p>
          <p style="text-align: justify;">This app utilises the <a href="https://newsapi.org/" target="_blank">News API</a> to gather and display news articles published by South African outlets.
             </p>
             <p style="text-align: justify;">
                 A python script runs every 30 minutes to gather news article details and stores them in a mysql database. The web application displays the news
                 per selected category and date. The navigation items will display today's news in the selected categories.
             </p>
             <p style="text-align: justify;">
                 The search mechanism query's the database by date and category and allows the user to view archived news articles.
                 All news articles are diplayed by latest to oldest.
             </p>
           </center>

          <a href="https://github.com/opensauce17?tab=repositories" target="_blank"><center><p><i class="fa fa-github fa-5x"></i></p></center></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% block content %}{% endblock %}


</body>
</html>
