{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
   {% for entertainment in entertainment %}
  <div class="col-sm-4 mb-3 d-flex">
    <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
     <img class="card-img-top" src="{{ entertainment.urlToImage }}" alt="Card image" height="170">
      <div class="card-body">
        <h6 class="card-title"><a href="{{ entertainment.url }}" target="_blank">{{ entertainment.title }}</a></h5>
        <p class="card-subtitle"> {{ entertainment.description }} </p>
            <hr>
        <font size="2" class="post-meta">
            Posted by {{ entertainment.source }} on {{ entertainment.publishedAt }}
            <br>
         </font>
      </div>
    </div>
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}