{% extends "au/base.html" %}
{% block content %}

            <main class="dash-content">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-lg-12">
                               <div class="alert alert-danger">

                             <center>Please supply a valid date</center>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


{% endblock %}