{
    "query": {
        "bool": {
            "must": [
                {
                    "range": {
                        "publishedat" : {
                            "gt" : "now-30d",
                            "lt" : "now"      
                        }
                    }
                },
                {
                    "match": {
                        "location": "South Africa",
                    }
                },
                {
                    "match": {
                        "news_type": "science",
                    }
                }
            ]
        }
    }
}
