{% extends "za/base.html" %}
{% block content %}

<main class="dash-content">
    <div class="container-fluid">
        <div class="row">
        {% for technology in technology %}
        <div class="col-lg-4 p-3 d-flex">
            <div class="card-transparent">
                    {% if technology.urlToImage == None %}
                    <img class="card-img-top img-responsive flex-row" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" style="padding: 15px;object-fit: cover;min-height:100px;width:100%; border-radius: 25px;">
                    {% else %}
                    <img class="card-img-top" src="{{ technology.urlToImage }}" onerror="this.onerror=null;this.src='https://world-news-archive-images.s3.af-south-1.amazonaws.com/no_image_available.png';" alt="Card image cap" style="padding: 15px;object-fit: cover;min-height:100px;width:100%; border-radius: 25px;">
                    {% endif %}
                    <div class="card-body">
                      <p class="card-text"> <a class="mt-3" href="{{ technology.url }}" target="_blank" style="font-family: Helvetica Neue">{{ technology.title }}</a></p>
                      <span class="stats-timeframe"><strong><font size=2>Posted by {{ technology.source }} on {{ technology.publishedAt }}</font></strong></span>
                    </div>
                  </div>
            </div>
    {% endfor %}
</main>

<!-- <footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer> -->

<script>
   $(document).ready(function(){
   $(".active").removeClass("active");
   $("#technology").addClass("active");
});
</script>

{% endblock %}