{% extends "nz/base.html" %}
{% block content %}

{% if news_type == 'headlines' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for headline in headlines %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if headline.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ headline.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ headline.url }}" target="_blank">{{ headline.title }}</a></h6>
                                <p class="card-subtitle"> {{ headline.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ headline.source }} on {{ headline.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}

                            </div>
                        </div>
                </div>
            </main>

{% elif news_type == 'business' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for business in business %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if business.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ business.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ business.url }}" target="_blank">{{ business.title }}</a></h6>
                                <p class="card-subtitle"> {{ business.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ business.source }} on {{ business.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                </div>
            </main>

{% elif news_type == 'technology' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for technology in technology %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if technology.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ technology.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ technology.url }}" target="_blank">{{ technology.title }}</a></h6>
                                <p class="card-subtitle"> {{ technology.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ technology.source }} on {{ technology.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                </div>
            </main>

{% elif news_type == 'health' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for health in health %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if health.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ health.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ health.url }}" target="_blank">{{ health.title }}</a></h6>
                                <p class="card-subtitle"> {{ health.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ health.source }} on {{ health.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                </div>
            </main>

{% elif news_type == 'science' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for science in science %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if science.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ science.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ science.url }}" target="_blank">{{ science.title }}</a></h6>
                                <p class="card-subtitle"> {{ science.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ science.source }} on {{ science.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                </div>
            </main>

{% elif news_type == 'sports' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for sports in sports %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if sports.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ sports.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ sports.url }}" target="_blank">{{ sports.title }}</a></h6>
                                <p class="card-subtitle"> {{ sports.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ sports.source }} on {{ sports.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                </div>
            </main>

{% elif news_type == 'entertainment' %}
            <main class="dash-content">
                <div class="container-fluid">
                        <div class="container">
                            <div class="row">
                           {% for entertainment in entertainment %}
                          <div class="col-sm-4 mb-3 d-flex">
                            <div class="card" style="box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                {% if entertainment.urlToImage == None %}
                             <img class="card-img-top" src="{{ url_for('static', filename='images/no_image_available.png') }}" alt="Card image" height="170">
                               {% else %}
                             <img class="card-img-top" src="{{ entertainment.urlToImage }}" alt="Card image" height="170">
                                {% endif %}
                              <div class="card-body">
                                <h6 class="card-title"><a href="{{ entertainment.url }}" target="_blank">{{ entertainment.title }}</a></h6>
                                <p class="card-subtitle"> {{ entertainment.description }} </p>
                                    <hr>
                                <font size="2" class="post-meta">
                                    Posted by {{ entertainment.source }} on {{ entertainment.publishedAt }}
                                    <br>
                                 </font>
                              </div>
                            </div>
                            </div>
                            {% endfor %}
                          {% endif %}
                            </div>
                        </div>
                </div>
            </main>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mikehyland.com" target="_blank"> mikehyland.com</a>
  </div>

</footer>

{% endblock %}